API_PORT=4000
JWT_SECRET=gere-uma-chave-longa-aleatoria-e-secreta
ADMIN_EMAIL=fotografo@seudominio.com.br
# Gere com: node -e "console.log(require('bcryptjs').hashSync('sua-senha', 12))"
ADMIN_PASSWORD_HASH=$2b$12$substitua.pelo.hash.bcrypt.da.senha
ADMIN_ORIGIN=https://admin.seudominio.com.br
EXPO_PUBLIC_API_URL=https://api.seudominio.com.br
